amino_acids/amino_hifi_500.png
amino_acids/amino_hifi_1000.png
amino_acids/amino_hifi_2500.png
amino_acids/amino_hifi_5000.png
amino_acids/amino_true.png
amino_acids/amino_wopt_500.png
amino_acids/amino_wopt_1000.png
amino_acids/amino_wopt_2500.png
amino_acids/amino_wopt_5000.png
amino_acids/amino_woptlb_500.png
amino_acids/amino_woptlb_1000.png
amino_acids/amino_woptlb_2500.png
amino_acids/amino_woptlb_5000.png
